<h1>Song List</h1>

<% @songs.each do |song| %>
<p>Title: <%= link_to song.title, song_path(song)%><br>
Artist: <%= song.artist_name %><br>
Released: <%= song.release_year %><br>
Genre: <%= song.genre %><br>
<%= link_to "Edit", edit_song_path(song)  %><br>
<%= link_to "Delete", song, method: :delete  %>
</p>

<%end%>