<h1>Create Song</h1>

<% if @song.errors.any? %>
  <div id="error_explaination">
    <h2>
      <%= pluralize(@song.errors.count, "error") %> found:
    </h2>

    <ul>
      <% @song.errors.full_messages.each do |msg|%>
        <li>
          <%= msg %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @song do |f| %>
  <p>Title: <%= f.text_field :title %></p>
  <p>Released: <%= f.check_box :released %></p>
  <p>Release Year: <%= f.number_field :release_year %></p>
  <p>Artist: <%= f.text_field :artist_name %></p>
  <p>Genre: <%= f.text_field :genre %></p>

  <%= f.submit %>
<% end %>