<h1>Song Show Page</h1>

<h4><label>Song Title: </label><%= @song.title%></h4>
<br>
<h4><label>Released: </label><%= @song.released%></h4>
<br>
<h4><label>Released Year: </label><%= @song.release_year%></h4>
<br>
<h4><label>Artist Name: </label><%= @song.artist_name%></h4>
<br>
<h4><label>Genre: </label><%= @song.genre%></h4>
<br>
<p>
    <%= button_to 'Edit', edit_song_path(@song), method: :get %>
    <%= button_to 'Delete', edit_song_path(@song), method: :delete, data: {confirm: 'Delete Item?'} %>
</p>
<br>
<%= link_to 'Back to Index Page', songs_path %>