<h1>Song Info</h1>
<ul>
  <li>Title: <%= @song.title %></li>
  <li>Released Year: <%= @song.release_year %></li>
  <li>Artist: <%= @song.artist_name %></li>
  <li>Genre: <%= @song.genre %></li>
</ul>

<p>
  <%= button_to 'Delete', song_path(@song), method: :delete, data: { confirm: 'Are you sure?' } %>
</p>