<h1><%=@song.title%></h1>
<p>
Arist: <%=@song.artist_name%><br>
Released: <%='yes' if @song.released%><br>
Release Year: <%=@song.release_year if @song.released %><br>
Genre: <%=@song.genre%><br>
</p>