<h1>Song Show Page</h1>

    <%=song.title%><br>
    <%=song.released%><br>
    <%=song.release_year%><br>
    <%=song.genre%><br>
    <%=song.artist_name%><br>

    <%=button_to "Delete" method: :delete%>
